<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>{{ currentpage.name }} - {{ target.display_name }}</title>

    <!-- favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- jQuery -->
    <script src="assets/vendor/jquery-1.11.1.min.js"></script>

    <!-- Custom Stylesheets. ripple.css includes bootstrap, font stuff -->
    <link href="assets/css/ripple.css" rel="stylesheet" />
    <link href="assets/css/devportal.css" rel="stylesheet" />

    <!-- Bootstrap JS -->
    <script src="assets/vendor/bootstrap.min.js"></script>

    {% block head %}

    {% endblock %}

</head>

<body class="page page-template page-template-template-dev-portal page-template-template-dev-portal-php {% if currentpage.sidebar != 'off' %}sidebar-primary{% endif %} wpb-js-composer js-comp-ver-3.6.2 vc_responsive">
  <header role="banner" class="banner navbar navbar-default navbar-fixed-top initial_header">
    <div class="container">
      <div class="navbar-header">
          <a href="index.html" class="navbar-brand"><img src="assets/img/ripple-logo-color.png" class="logo"></a>
      </div><!-- /.navbar-header -->
      <div class="nav">
      </div><!-- /.nav -->

    </div><!-- /.container -->

    <div class="subnav dev_nav">
      <div class="container">
        <ul id="menu-dev-menu" class="menu">
          {% for cat in categories %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{cat}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
            {% for page in pages %}
    	       {% if page.category == cat %}
                  <li><a href="{{ page.html }}">{{ page.name }}</a></li>
                  {% endif %}
            {% endfor %}
            </ul>
          </li>
          {% endfor %}

          <li><a href="https://github.com/ripple/ripple-dev-portal" title="GitHub">Site Source</a></li>
        </ul><!-- /#dev-menu -->
      </div><!-- /.subnav .container -->
    </div><!-- /.subnav -->
  </header>


  <div class="wrap container" role="document">
      {% if currentpage.sidebar != 'off' %}
      <aside class="sidebar" role="complementary">
          {% block sidebar %}{% endblock %}
      </aside>
      {% endif %}
      <main class="main" role="main">
          {% block main %}{% endblock %}
      </main>
  </div>

{% include 'template-footer.html' %}

{% block endbody %}{% endblock %}
</body>
</html>
